/*fonts*/
$font-family: 'Montserrat', 'Open Sans', 'Helvetica', Arial, sans-serif;

/*breakpoints*/
$mobile: 320px;
$tablet: 768px;
$desktop: 1930px;

/*colors*/
$main-white: #FFFFFF;
$main-blue: #2378FC;
$main-green: #30BCC9;
$main-yellow: #FFC41E;
$main-red: #F6404F;
$main-black: #2E373B;
$main-cream: #FAF3E3;
$main-grey: #A4A4A4;

/*wrappers*/
$header-wrapper: 1560px;
$content-wrapper: 1114px
